// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-awesome
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

//handsontable
@import "~handsontable/dist/handsontable.full.min.css";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a {
    text-decoration: none;
}

.imazon {
    max-width: 20%;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.option {
    flex-grow: 0;
    text-align: center;
    //   width: 30%;
    transition: transform 0.3s;
}

.option p {
    font-size: 1.1rem;
}

.option:hover {
    transform: scale(1.05);
}

.empty {
    width: 4%;
}

.option.create-user .far {
    color: #333333;
}

.option.add-project .far {
    color: #007c3d;
}

.option.edit-project .far {
    color: #008fce;
}

.option.remove-project .far {
    color: #ff3c44;
}

.option p {
    margin-top: 0.5rem;
    color: black;
    font-weight: 500;
}

.login-container {
    text-align: center;
    margin-top: 10%;
}

.login-container .login-logo {
    max-width: 12.5%;
    margin-bottom: 1.5rem;
}

.login-container .container {
    width: 20%;
    border: 1.5px solid black;
    padding: 20px;
}

.login-container h1 {
    text-align: center;
}

.main-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.planilha-botoes > .btn {
    width: 49%;
}

.planilha-container {
    overflow: hidden;
}

.botoesPlanilhaContainer {
    float: right;
    width: 2%;
    margin-right: 2%;
    padding-top: 25.5px;
}

.botoesPlanilha {
    display: flex;
    flex-direction: column;
}
.botoesPlanilha .item {
    height: 23px;
    border-bottom: 1px solid white;
    text-align: center;
}

#planilhasContainer {
    display: inline-block;
    width: 95%;
}

.adicionarSubcategoria {
    background-color: #3caef0;
    border-color: #3caef0;
}

.btn-detalhes-atividade {
    margin-left: 0.75rem;
    border-radius: 16px;
    background-color: #e8e8e8;
}

.btn-detalhes-atividade:hover {
    background-color: #d8dce0;
}

.btn-detalhes-atividade:active {
    background-color: #d8dce0;
}

.offset-botao-acoes {
    width: 2%;
    float: right;
    position: relative;
    display: inline-block;
    height: 1em;
    margin-right: 2%;
    margin-left: 1%;
}

.btn-confirmacao-edicao {
    color: white;
    border-radius: 20px;
}

.btn-aceitar-edicao {
    background: #38c172;
    padding: 2px 6px;
    margin-right: 0.5rem !important;
    margin-top: -3px;
}

.btn-recusar-edicao {
    background: #e3342f;
    padding: 2px 8px;
    margin-right: 1rem !important;
    margin-top: -3px;
}
